<div class="example-container">
    <div style="width: 200px; height: 12px">
        <textarea
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
        ></textarea>
    </div>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Autosize textarea</mat-label>
        <textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
        ></textarea>
    </mat-form-field>
</div>
